<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logindemo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UpdatePassword"
            android:label="Update Password"/>
        <activity android:name=".UpdateProfile" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".RegistrationActivity" />
        <activity android:name=".LecturerChatDetailActivity" />
        <activity android:name=".LecturerUsersDetailActivity" />
        <activity android:name=".StudentChatDetailActivity" />
        <activity android:name=".StudentUsersDetailActivity" />
        <activity android:name=".SecondActivity"
            android:label="Main Page"/>
        <activity android:name=".SubjectDetailActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".QuizDetailActivity" />
    </application>

</manifest>